#container form{
  border : 1px solid red;
  display: inline-block;
  margin : 10px auto;
}

#container div{
  border : 1px solid green;
  display: block;
  margin: 10px auto;
}
#container label{
  border: 1px solid black;
  display: block;
  margin: auto;
  font-weight: bold;
  background: linear-gradient(to right,rgba(0,0,0,0),rgba(226, 226, 226, 0.95),rgba(0,0,0,0));
}

#container input, #container textarea{
  border : 1px solid blue;
  display: block;
  margin: auto;
}
