body{
  margin : 0 auto;
  padding : 5px;
  width : 95vw;;
  min-height: 100vh;
  background :-webkit-radial-gradient(#e2e2e2, #313131); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#e2e2e2, #313131); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#e2e2e2, #313131); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#e2e2e2, #313131); /* Standard syntax */
  text-align: center;
}

header{
  background: -webkit-linear-gradient(to right, #129ef7,rgba(0,0,0,0)); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #129ef7,rgba(0,0,0,0)); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(to right, #129ef7,rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#129ef7,rgba(0,0,0,0)); /* Standard syntax */
}

nav{
  border: 1px solid red;
  height : 75px;
  display: block;
  position: relative;

}

nav ul{
  list-style: none;
  display: inline-block;
  padding: 0px;
  border : 1px solid yellow;


}

nav ul li {
  display: inline;
  border: 1px solid white;
}

#container{
  display: block;
  border : 1px solid black;
}

footer{
  background: #313131;
  padding :5px
  margin : 0px;
  display: block;
}
