section{
  width : 90%;
  margin: 5px auto;
  padding :5px;
  border : 1px solid red;
  display: block;
  position: relative;
}


section header{
  background :-webkit-radial-gradient(#129ef7,rgba(0,0,0,0)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#129ef7,rgba(0,0,0,0)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#129ef7,rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#129ef7,rgba(0,0,0,0)); /* Standard syntax */
}

article {
  border :1px solid pink;

}

article figure{
  display: inline-block;
  border : 1px  solid blue;
  background: #e5e5e5;
  border-radius: 5px;
}

section aside{
  border : 1px solid cyan;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right : 0;
  padding: 5px;
  margin: 5px;
}

header{
  border : 1px solid green;
}
