article figure{
  background: white;
  padding : 10px;
  border-radius: 15px;
}

#mainImg img{
  max-height: 80vh;
  max-width: 100%;
  display: inline-block;
}


#addComment{
  border : 1px solid red;
  display: inline-block;
  width : 70%;
  background: rgba(226,226,226,.2);
  border-radius: 10px;
}

#addComment textarea{
  width: 90%;
  display: inline-block;
  margin : 5px auto;
  resize: vertical;
}

#addComment input{
  display: block;
  margin: 5px auto;
}


#msgBox{
  border-radius: 5px;
  display: block;
  margin : 5px auto;
  z-index: +1;
  padding : 5px;
}

#msgBox p{
  font-weight: bold;
  text-shadow:  2px 2px 8px #313131;
}

#loadImg{
  animation : loadAnimation 2s linear infinite;
  height : 50px;
  width : 50px;
  z-index: -1;
  margin : -50px auto 0px auto;
  display: block;
}


@keyframes loadAnimation {
     0% {
       transform: rotate(0deg);
       opacity: 0.6;
     }
     50% {
       transform: rotate(180deg);
       opacity: 0.4;
     }
     100% {
       transform: rotate(360deg);
       opacity: 0.6;
     }
}




.comments{
  display: inline-block;
  padding : 0;
  background: rgba(226,226,226,.2);
  color : #313131;
  width : 70%;
  border-radius: 10px;
  text-align: right;
}

.comment{
  border : 1px solid black;
  background: #e2e2e2;
  border-radius: 5px;
  display: inline-block;
  margin: 5px auto;
  text-align: justify;
}

.comment a{
  color : #313131;

}


.comment figure{
  padding  : 5px;
  display: block;
  margin : 5px 10px;
  float: left;
  height: 100%;
  max-width: 15%;
  background: #aaa;
  text-align: center;

}

.comment figcaption {

}

.comment p {
  display: block;
  margin : 5px 10px 5px auto;
  max-width: 80%;
}

.comments .answer{
  width : 70%;
  margin: 5px 10px 5px auto;
}
