#container form{
  display: inline-block;
  margin : 10px auto;
}

#container div{
  display: block;
  margin: 0px auto;
  padding : 5px;
  font-weight: bold;
  background: linear-gradient(to right,rgba(0,0,0,0),rgba(226, 226, 226, 0.95),rgba(0,0,0,0));
}

#container input:not([type="submit"]), #container textarea{
  display: block;
  margin: auto;
  width : 100%;
  border: none;
  background: none;
  text-align: center;
}

#container textarea{
  resize: horizontal;
}

#container input:focus, #container textarea:focus{
  border : 1px inset;
  outline: none;
  box-shadow: 0 0 5px black;
  background: rgb(68, 63, 67);
}

#container #imgUpload{
  cursor: pointer;
  max-height: 80vh;
  max-width: 100%;
  border : 2px solid white;
  background: white;
  padding : 5px;
  border-radius: 15px;
}

#container input[name="titre"]{
  font-weight: bold;
  font-size: 1.4em;

}

#container textarea[name="desc"]{
  text-align: center;
}
