<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajouter</title>
    <link rel="stylesheet" href="css/add.css">
  </head>
  <body>
    <form  action="post/add" method="post" enctype="multipart/form-data">
      <div>
        <input type="text" name="titre" id="" placeholder="Titre">
      </div>
      <div>
        <input type="file" name="file" id="selectedFile" style="display: none;" onchange="imgLoad(this,'imgUpload');"/>
        <img id="imgUpload" src="img/insert.png" onclick="document.getElementById('selectedFile').click();" />
      </div>
      <div>
        <textarea name="desc" rows="8" cols="40" placeholder="description"></textarea>
      </div>
      <div>
        <input type="submit" name="envoyer" value="Envoyer">
      </div>
    </form>
  </body>
</html>
