<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connection</title>
    <link rel="stylesheet" href="css/connection.css">
  </head>
  <body>
    <div id="msgBoxInfo">

    </div>
      <section id="login" class="on">
      <form method="post" action="/post/login" onsubmit="return onSubmit()">
        <div>
          <label for="logname">Nom  :</label>
          <input type="text" id="logname" placeholder="votre nom" required autofocus/>
        </div>
        <div>
          <label for="logmdp">Mot de passe  :</label>
          <input type="password" id="logmdp" placeholder="votre mdp" required/>
        </div>
        <input type="submit" name="logBtn" value="Login"/>
      </form>
      </section>
      <section id="register">
      <form method="post"action="/post/register" onsubmit="return onSubmit()">
        <div>
          <label for="regname">Nom  :</label>
          <input type="text" id="regname" placeholder="votre nom" required/>
        </div>
        <div>
          <label for="regmdp">Mot de passe  :</label>
          <input type="password" id="regmdp"  placeholder="votre mdp" required/>
        </div>
        <div>
          <label for="regmdp_confirm">confirmer mot de passe  :</label>
          <input type="password" id="regmdp_confirm"  placeholder="votre mdp" required/>
        </div>
        <input type="submit" name="regBtn" value="Register"/>
      </form>
      </section>
      <section class="on">
        <div id="toggleBtn" onclick="toggleLogin()">
          pas de compte ? (cliquez ici)
        </div>
      </section>
      <section class="">
        <div id="msgBox">
          <p>Verification en cours...</p>
          <img src="img/load-icon.png" id="loadImg"/>
        </div>
      </section>
  </body>
</html>
