<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="css/index.css">
    <title>Home</title>
  </head>
  <body>
        <section id="vitrine_photo">
            <header>
              <h1>Photos Aléatoires</h1>
            </header>
            <article>
              <div  th:each = "photo : ${photos}">
              <a th:href="${'media.html?id=' + photo.id}">
                <figure>
                  <img th:src="${'image/photo?id=' + photo.id}" alt="">
                  <figcaption th:text="${photo.title}">Légende</figcaption>
                </figure>
              </a>
              </div>
              <aside>
                <a href="photos.html"></a>
              </aside>
            </article>

        </section>
  </body>
</html>
