<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title th:text="${'photo : ' + photo.id}"></title>
    <link rel="stylesheet" href="css/media.css">
  </head>
  <body>
        <section>
          <header>
            <h1 th:text="${photo.title}">Image Name</h1>
          </header>
          <article class="">
            <figure id="mainImg">
              <img th:src="${'image/photo?id=' + photo.id}" alt="">
              <figcaption th:text="${photo.desc}">Description de l'image</figcaption>
              <figcaption th:text="${'par : ' + photo.author.name}">par  : NAME</figcaption>
            </figure>
          </article>
        </section>
        <form class="addComment" th:onsubmit="${'return postCommment(this,' +  photo.id +')'}">
          <h3>Poster un commentaire</h3>
          <textarea name="commentBox" rows="8" cols="40" placeholder="Your comment here"></textarea>
            <label for="clr">Couleur</label>
            <input id="clr" type="color" name="clr" value="#000000"/>
            <input type="submit" name="name" value="poster">

        </form>
        <section>
            <div class="comments" >
            <div th:each="comment : ${comments}">
            <section class="comment">
                <a th:href="${'profil.html?id=' + comment.author.name}">
                  <figure>
                      <img th:src="${'image/profil?id=' + comment.author.name}" alt="">
                      <figcaption th:text="${comment.author.name}">Name</figcaption>
                      <figcaption th:text="${#temporals.format(comment.date)}">23/06/2016</figcaption>
                    </figure>
                  </a>
                  <p th:text="${comment.text}" th:style="${'color:#' + comment.color}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
                <section th:each="answer : ${comment.responses}" class="comment answer">
                    <a th:href="${'profil.html?id=' + comment.author.name}">
                        <figure>
                            <img th:src="${'image/profil?id=' + answer.author.name}" alt="">
                            <figcaption th:text="${answer.author.name}">Name</figcaption>
                            <figcaption th:text="${#temporals.format(answer.date)}">23/06/2016</figcaption>
                        </figure>
                    </a>
                    <p th:text="${answer.text}" th:style="${'color:#' + answer.color}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
               <form class="addComment" th:onsubmit="${'return postCommment(this,' +  photo.id +',' + comment.id +')'}">
                    <h3>Répondre</h3>
                    <textarea name="commentBox" rows="8" cols="40" placeholder="Your comment here"></textarea>
                   <label th:for="${'clr' + comment.id}">Couleur</label>
                   <input th:id="${'clr' + comment.id}" type="color" name="color"  value="#000000"/>
                   <input type="submit" name="name" value="poster">
                </form>
            </div>
            </div>



        </section>

  </body>
</html>
