<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Toutes les photos</title>
    <link rel="stylesheet" href="css/search.css">
  </head>
  <body>
    <section id="listPhotos">
        <header>
          <h1>Toutes les photos</h1>
        </header>
        <article id="list">
          <span  th:each = "photo : ${photos}">
            <a th:href="${'media.html?id=' + photo.id}">
              <figure>
                <img th:src="${'image/photo?id=' + photo.id}" alt="">
                <figcaption th:text="${photo.title}">Légende</figcaption>
              </figure>
            </a>
          </span>
        </article>

    </section>

</body>
</html>
