<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>photoNet.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PagesServlet</servlet-name>
  	<servlet-class>photoNet.servlets.PagesServlets</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PagesServlet</servlet-name>
  	<url-pattern>/pages/*</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>