<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>photoNet.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PagesServlet</servlet-name>
  	<servlet-class>photoNet.servlets.PagesServlets</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>PostServlet</servlet-name>
      <servlet-class>photoNet.servlets.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>photoNet.servlets.ImageServlet</servlet-class>
  </servlet>

  
  

  <servlet-mapping>
  	<servlet-name>PagesServlet</servlet-name>
  	<url-pattern>/pages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/post/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  

  <filter>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>photoNet.filters.RedirectFilter</filter-class>
  </filter>


  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>